[Unit]
Description=The communication support tool
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/futarin/futarin-raspi
ExecStart=/home/futarin/.pyenv/shims/python3 /opt/futarin/futarin-raspi/src/main.py
User=futarin

[Install]
WantedBy=default.target
