[Unit]
Description=The communication support tool

[Service]
Type=simple
WorkingDirectory=/opt/futarin/futarin-raspi
ExecStart=/opt/futarin/uv/bin/uv run /opt/futarin/futarin-raspi/src/main.py
User=futarin
Restart=on-failure

[Install]
WantedBy=multi-user.target
